{% extends 'base.html.twig' %}

{% block title %}{{ 'account.my'|trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>{{ 'account.welcome'|trans }}</h1>
            <p>{{ 'account.loggedinas'|trans }} {{ app.user.username }}.</p>
            <p>
                <a href="{{ path('profile_password') }}">{{ 'account.password.change'|trans }}</a>
            </p>
        </div>
    </div>
{% endblock %}
