<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home_index') }}">DevJobs</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                {% if app.user %}
                    <li class="nav-item">
                        <a {% if route_name == "profile_index" %} class="nav-link active" {% else %} class="nav-link" {% endif %}
                                href="{{ path('profile_index') }}">{{ 'account.my'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">{{ 'account.logout'|trans }}</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a {% if route_name == "app_login" %} class="nav-link active" {% else %} class="nav-link" {% endif %}
                                href="{{ path('app_login') }}">{{ 'account.login'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a {% if route_name == "register_index" %} class="nav-link active" {% else %} class="nav-link" {% endif %}
                                href="{{ path('register_index') }}">{{ 'account.register'|trans }}</a>
                    </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle btn btn-info text-white hover" href="#" id="dropdown-language"
                       role="button"
                       data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ app.request.locale|locale_name(app.request.locale)|u.title }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right bg-info" aria-labelledby="dropdown-language">
                        <li><a class="dropdown-item text-white"
                               href="{{ path('home_index', {_locale: 'en'}) }}">English</a></li>
                        <li><a class="dropdown-item text-white" href="{{ path('home_index', {_locale: 'fr'}) }}">Français</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>