{% extends 'base.html.twig' %}

{% block title %}{{ offer.title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1>{{ 'offer.title'|trans }}</h1>
        </div>
        <div class="col-2">
            <img style="background-color: {{ offer.company.companyLogoBackgroundColor }}"
                 class="card-img-top img-fluid" src="{{ asset("uploads/#{offer.company.companyLogo}") }}"
                 alt="Company logo">
        </div>
        <div class="col-10">
            <h2>{{ offer.company }}</h2>
            <p>{{ offer.company.companyWebsite | replace({'https://' : '', 'https://www.' : '', 'http://' : ''}) | trim('/') }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>{{ offer.createdAt|format_datetime('full', 'none', locale=app.request.attributes.get('_locale')) }}</p>
            <p>{{ offer.typeOfContract }}</p>
            <p>{{ offer.title() }}</p>
            <p>{{ offer.company.companyTown }}</p>
            <p>{{ offer.description }}</p>
            <h3>Requirements</h3>
            <p>{{ offer.profileDescription }}</p>
            <ul>
                {% for competence in offer.competences %}
                    <li>{{ competence }}</li>
                {% endfor %}
            </ul>
            <h3>What You Will Do</h3>
            <p>{{ offer.positionDescription }}</p>
            <ol>
                {% for mission in offer.positionMissions %}
                    <li>{{ mission }}</li>
                {% endfor %}
            </ol>
        </div>
    </div>
{% endblock %}
